.brandImg{
    width: 80%;
    height: auto;
    margin: 0px;
    cursor: pointer;
}

@media (max-width: 1920px) {
    .brandImg{
        width: 20%;
        height: auto;
    }
}

@media (max-width:992px){
    .brandImg{
        width: 100px;
        height: auto;
    }
}