/* Hero.css */

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Each link/brand takes up 25% of the container width initially */
.brands > * {
  flex: 0 0 calc(25% - 10px); /* Adjust margin here */
}

/* Ensure four items per row on screens up to 1200px */
@media (max-width: 1200px) {
  .brands > * {
      flex: 0 0 calc(25% - 10px); /* Adjust margin here */
  }
}

/* Ensure two items per row on screens up to 670px */
@media (max-width: 670px) {
  .brands > * {
      flex: 0 0 calc(50% - 10px); /* Adjust margin here */
  }
}
