.nav{
    display: flex;
    flex-direction: row;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.navLeft{
    display: flex;
}

.buttonBlack{
    background-color: #00A3FF;
    width: 180px;
    height: 40px;
    color:white;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.buttonBlack p{
    margin: 0px;
}

.navLeft img{
    margin-left: 10px;
}

.navCenter{
    margin-left: 10px;
    margin-top: 20px;
}

.navRight{
    display: flex;
    padding-top: 60px;
}

.navRight img{
    margin-right: 10px;
}

.burger-menu{
    visibility: collapse;
}

@media (max-width: 1180px) {
    .buttonBlack {
      visibility: collapse;
    }
  
    .nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .navCenter img {
      width: 110px;
    }

    .navRight img{
        display: none;
    }

    .navRight{
        display: none;
    }

    .navLeft{
        display: none;
    }

    .navLeft img{
        display: none;
    }

    .burger-menu {
        visibility: visible;
        position: absolute;
        top:80px;
        right: 30px;
      }
    
      .burger-menu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: auto;
      }
      
      .burger-menu-icon img {
        width: 100%;
        height: 100%;
        margin-right: auto;
      }
      
      .burger-menu-items {
        display: none;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
      }
      
      .burger-menu-items.show {
        display: flex;
      }
      
      .burger-menu-item {
        background-color: #00a3ff;
        color: white;
        border: solid 2px black;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
  }


