.cont{
    font-family: 'Montserrat';
}

.cont h1{
    display: flex;
    justify-content: center;
}

.cont img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.text{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    margin-left: 50px;
}

.desc{
    max-width: 50%;
    justify-content: right;
}

@media (min-width: 2150px) {
    .cont img{
        height: 400px;
        width: 100%;
    }
    .cont h1{
        font-size: 48px;
    }

    .title h3{
        font-size: 40px;
    }

    .desc p{
        font-size: 30px;
    }
}

@media (max-width: 2150px) {
    .cont img{
        height: 300px;
        width: 100%;
    }
    .cont h1{
        font-size: 42px;
    }

    .title h3{
        font-size: 30px;
    }

    .desc p{
        font-size: 22px;
    }
}

@media (max-width: 1450px) {
    .cont img{
        height: 280px;
        width: 100%;
    }
    .cont h1{
        font-size: 38px;
    }

    .title h3{
        font-size: 26px;
    }

    .desc p{
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .cont img{
        height: 250px;
        width: 100%;
    }
    .cont h1{
        font-size: 32px;
    }

    .title h3{
        font-size: 20px;
    }

    .desc p{
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .cont img{
        height: 200px;
        width: 100%;
    }
    .cont h1{
        font-size: 30px;
    }

    .title{
        margin-left: 10px;
    }

    .title h3{
        font-size: 18px;
    }

    .desc p{
        font-size: 12px;
    }
}

@media (max-width: 670px) {
    .cont img{
        height: 200px;
        width: 100%;
    }
    .cont h1{
        font-size: 24px;
        justify-content: center;
    }

    .text{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .title{
        display: flex;
        justify-content: center;
    }

    .desc{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }

    .title h3{
        font-size: 26px;
    }

    .desc p{
        font-size: 16px;
    }
}

@media (max-width: 530px) {
    .cont h1{
        font-size: 18px;
    }

    .title h3{
        font-size: 18px;
    }

    .desc p{
        font-size: 16px;
    }
}

@media (max-width: 410px) {
    .cont h1{
        font-size: 14px;
    }

    .title h3{
        font-size: 14px;
    }

    .desc p{
        font-size: 12px;
    }
}
